{% extends "base.html" %}

{% block title %}EcoWaste - Início{% endblock %}

{% block content %}

<nav class="mb-4">

    <div class="d-flex flex-wrap gap-2">

        <a
            href="{{ url_for('listar_empresas') }}"
            class="btn btn-success"
        >
            Empresas
        </a>

        <a
            href="{{ url_for('listar_equipamentos') }}"
            class="btn btn-success"
        >
            Equipamentos
        </a>

        <a
            href="{{ url_for('listar_materiais') }}"
            class="btn btn-success"
        >
            Materiais
        </a>

        <a
            href="{{ url_for('listar_descartes') }}"
            class="btn btn-success"
        >
            Descartes
        </a>

        <a
            href="{{ url_for('listar_ecopontos') }}"
            class="btn btn-success"
        >
            Ecopontos
        </a>

        <a
            href="/checklist"
            class="btn btn-success"
        >
            Checklist Ambiental
        </a>

        <a
            href="/dashboard"
            class="btn btn-success"
        >
            Dashboard
        </a>

    </div>

</nav>

<h2>
    Gestão de Resíduos Eletrônicos
</h2>

<p>
    Sistema para gerenciamento e análise do descarte de
    resíduos eletrônicos das empresas de TIC do Alto Vale do Itajaí.
</p>

{% endblock %}