<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoWaste TCC</title>
</head>

<body>

    <h1>EcoWaste</h1>

    <h2>Gestão de Resíduos Eletrônicos</h2>

    <p>
        Sistema para gerenciamento e análise do descarte
        de resíduos eletrônicos das empresas de TIC
        do Alto Vale do Itajaí.
    </p>

    <hr>

    <h3>Módulos do sistema</h3>

    <ul>
        <li>Empresas</li>
        <li>Equipamentos</li>
        <li>Descartes</li>
        <li>Checklist Ambiental</li>
        <li>Dashboard</li>
        <li>Exportação para Power BI</li>
    </ul>

</body>

</html>