<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nova Empresa - EcoWaste</title>
</head>

<body>

    <h1>Cadastrar Empresa</h1>

    <a href="/empresas">Voltar para empresas</a>

    <hr>

    <form method="POST">

        <p>
            <label>Nome da empresa:</label><br>
            <input
                type="text"
                name="nome"
                required
            >
        </p>

        <p>
            <label>Cidade:</label><br>
            <input
                type="text"
                name="cidade"
                required
            >
        </p>

        <p>
            <label>Segmento:</label><br>
            <input
                type="text"
                name="segmento"
            >
        </p>

        <p>
            <label>Contato:</label><br>
            <input
                type="text"
                name="contato"
            >
        </p>

        <button type="submit">
            Cadastrar Empresa
        </button>

    </form>

</body>

</html>